########################################
# Node Environment
########################################

# Any node process variables to be set...
#

########################################
# Application Environment
########################################

APP_ENV=local