<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Page Title" />
    <meta property="og:description" content="Page content description" />
    <meta property="og:url" content="http://domain.com/page-title/" />
    <meta property="og:image" content="/path/to/image.jpg" />

    <title>Apresentação - Docker</title>

    <link rel="stylesheet" href="css/app.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">OW</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Contatos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/envie-seu-contato">Envie seu contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="app" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="mb-5">Contatos</h1>
                    <table id="table" class="table">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-3">Data</th>
                                <th class="col-4">E-mail</th>
                                <th class="col-5">Mensagem</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script src="/dist/js/app.js"></script>

</body>

</html>